html, body{
	font-family: Arial;
	line-height:1.4;
	margin:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img-container {
  position: relative;
}

.img-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.line {
color: blue;
}

ul {
list-style-type: bullets;
width: 45rem;
 }

li {
margin-bottom: 15px; /* add some spacing between list items */
text-align: left;
text-decoration: none;
pointer-events: none;
}

.center{
	margin: auto;
	text-align: center;
}

.intro{
	font-size:4em;
}

.max {
    display: flex;
    word-wrap: break-word;
}

.left {
width: 85%;
flex: 1;
margin-left: 10%;
margin-top: -5%;
}

.right {
width: 25%;
flex: 1;
margin-top: -5%;
}

.spaced-para {
     padding-bottom: 0.5cm;
  }


#wm-ipp #wm-ipp-inside {
  margin: 0 6px;
  border:5px solid #000;
  border-top:none;
  background-color:rgba(255,255,255,0.9);
  -moz-box-shadow:1px 1px 4px #333;
  -webkit-box-shadow:1px 1px 4px #333;
  box-shadow:1px 1px 4px #333;
  border-radius:0 0 8px 8px;
}

.container {
  display: flex;
  font-size: 15px;
}

.col-1 {
    margin-left: 15px;
    width: 3.25cm;
    text-align: right;
}

.col-2 {
  flex: 1;

}

a {
color: black;
}

h2 {
text-align: left;
margin-bottom: 2px;
}

h4 {
margin-top: 1em;
}

p {
margin-bottom: 15px; /* add some spacing between list items */
text-align: left;
margin-left: 15px;
text-decoration: none;
}


.cursor{
    cursor: url(https://i.imgur.com/RUE567I.gif), auto;
}

.box{border-width:3px; border-style:solid; border-color:#FF0000; padding: 1em;}


/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */

/*for footer*/
#main{
	min-height: 90vh;
}
        /* The animation code */
@keyframes pop {
  0%   {visibility: hidden; transform: translate(0%, -150%)}
  100%  {transform: translate(0%, -300%)}
}

@keyframes pop2 {
  0%   {visibility: hidden; transform: translate(0%, -150%)}
  100%  {transform: translate(0%, -200%)}
}

/* The element to apply the animation to */
.phone {
  position: relative;
}

.message {
  position: absolute;
  display: block;
  opacity: 1;
  animation: pop both;
  animation-duration: 1s;
  animation-delay: 2s;
}

.message2 {
  position: absolute;
  display: block;
  animation: pop2 both;
  animation-duration: 1s;
  animation-delay: 4s;
}

.reply {
  position: absolute;
  display: none;
  }


.query1 {
  position: absolute;
  display: block;
  width: 75%;
  opacity: 1;
  animation: appear1 both;
  animation-duration: 1s;
  animation-delay: 6s;
}

.query2 {
  position: absolute;
  display: block;
  right: 10%;
  width: 95%;
  opacity: 1;
  animation: appear2 both;
  animation-duration: 1s;
  animation-delay: 6s;
}

.query3 {
  position: absolute;
  display: block;
  width: 75%;
  opacity: 1;
  animation: appear3 both;
  animation-duration: 1s;
  animation-delay: 6s;
}

@keyframes appear1 {
  0%   {visibility: hidden; transform: translate(-25%, -100%)}
  100%  {transform: translate(-20%, -100%)}
}
@keyframes appear2 {
  0%   {visibility: hidden; transform: translate(-25%, -250%)}
  100%  {transform: translate(-20%, -250%)}
}
@keyframes appear3 {
  0%   {visibility: hidden; transform: translate(-25%, -200%)}
  100%  {transform: translate(-20%, -200%)}
}

.centered {
 position: absolute;
 margin: auto;
 font-size: 0.8vw;
 width: 15%;
 top: 10%;
 left: 40%;
 text-align: left;
}

.centered2 {
 margin: auto;
 position: absolute;
 font-size: 0.8vw;
 width: 18%;
 top: 10%;
 right: 40%;
 text-align: right;
}

.centered-big {
 margin: auto;
 position: absolute;
 font-size: 0.7vw;
 width: 18%;
 top: 5%;
 right: 40%;
 text-align: right;
 z-index: -1;
}


.centered-small {
 color: blue;
 background-color: white;
 border: none;
 margin: auto;
 padding: 1%;
 position: absolute;
 font-size: 0.8vw;
 width: 17.5%;
 top: 10%;
 right: 42%;
 text-align: left;
}

.centered-small:hover {
 color: black;
 cursor: pointer;
}


.centered-medium {
 color: blue;
 background-color: white;
 border: none;
 margin: auto;
 padding: 0%;
 position: absolute;
 font-size: 0.8vw;
 width: 17.5%;
 top: 10%;
 right: 42%;
 text-align: left;
}

.centered-medium:hover {
 color: black;
 cursor: pointer;
}

