  /* if desktop */
    .mobile_device_380px {
        display: none;
        text-align: left;
    }
    .mobile_device_480px {
        display: none;
        text-align: left;
    }


    /* if mobile device max width 380px */
    @media only screen and (max-device-width: 450px) {
        .mobile_device_380px{display: inline-block;}
        .desktop {display: none;}
    }

    /* if mobile device max width 480px */
    @media only screen and (max-device-width: 480px) {
       .mobile_device_480px{display: inline-block;}
       .desktop {display: none;}
    }

html, body{
	font-family: Arial;
	margin: 0 auto;
	line-height: 1.4;
	width: 100%;
	height: 100%;
}

.img-container {
  position: relative;
}

.img-container:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.line {
color: blue;
border-left: 2px solid blue;
margin-left: 10%;
margin-right: 10%;
}

ul {
list-style-type: bullets;
width: 45rem;
 }

li {
margin-bottom: 15px; /* add some spacing between list items */
text-align: left;
text-decoration: none;
pointer-events: none;
}

.center{
	margin: auto;
	text-align: center;
}

.intro{
	font-size:4em;
}

.min {
    display: block;
    margin-top: -10%;
    word-wrap: break-word;
}

.max {
    display: flex;
    word-wrap: break-word;
}

.left-screen {
width: 85%;
flex: 1;
margin-left: 10%;
margin-top: -5%;
}

.right-screen {
width: 25%;
flex: 1;
margin-top: -5%;
}

.spaced-para {
     padding-bottom: 0.5cm;
  }


#wm-ipp #wm-ipp-inside {
  margin: 0 6px;
  border:5px solid #000;
  border-top:none;
  background-color:rgba(255,255,255,0.9);
  -moz-box-shadow:1px 1px 4px #333;
  -webkit-box-shadow:1px 1px 4px #333;
  box-shadow:1px 1px 4px #333;
  border-radius:0 0 8px 8px;
}

.container {
  display: flex;
  font-size: 15px;
}

.column{
text-align: right;
display: inline-block;
}

.left {
width: 12.5%;
}

.big {
width: 22.5%;
}

.middle {
width: 5%;
}

.right {
text-align: left;
width: 72.5%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a {
color: black;
line-height: 1.4;
}

h2 {
text-align: left;
margin-bottom: 0%;
}

h4 {
margin-top: 1em;
font-weight: normal;
text-align: right;
}

h5 {
text-align: left;
margin-bottom: 0%;
}

p {
margin-bottom: 15px; /* add some spacing between list items */
text-align: left;
text-decoration: none;
}

.small {
font-size: 75%;
}

.cursor{
    cursor: url(https://i.imgur.com/RUE567I.gif), auto;
}

.box{border-width:3px; border-style:solid; border-color:#FF0000; padding: 1em;}


/* @group Blink */
.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}
@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
/* @end */

/*for footer*/
#main{
	min-height: 90vh;
}
        /* The animation code */
@keyframes pop {
  0%   {visibility: hidden; transform: translate(0%, -150%)}
  100%  {transform: translate(0%, -280%)}
}

@keyframes pop2 {
  0%   {visibility: hidden; transform: translate(0%, -150%)}
  100%  {transform: translate(0%, -180%)}
}

/* The element to apply the animation to */
.phone {
  position: relative;
}

.message {
  position: absolute;
  display: block;
  opacity: 1;
  animation: pop both;
  animation-duration: 1s;
  animation-delay: 2s;
}

.message2 {
  position: absolute;
  display: block;
  animation: pop2 both;
  animation-duration: 1s;
  animation-delay: 4s;
}

.reply {
  position: absolute;
  display: none;
  z-index: -1;
  }


.query1 {
  position: absolute;
  display: block;
  width: 75%;
  opacity: 1;
  animation: appear1 both;
  animation-duration: 1s;
  animation-delay: 6s;
}

.query2 {
  position: absolute;
  display: block;
  right: 10%;
  width: 95%;
  opacity: 1;
  animation: appear2 both;
  animation-duration: 1s;
  animation-delay: 6s;
}

.query3 {
  position: absolute;
  display: block;
  width: 75%;
  opacity: 1;
  animation: appear3 both;
  animation-duration: 1s;
  animation-delay: 6s;
}

.query1-mobile {
  position: absolute;
  display: block;
  width: 75%;
  opacity: 1;
  animation: appear1-mobile both;
  animation-duration: 1s;
  animation-delay: 6s;
}

.query2-mobile {
  position: absolute;
  display: block;
  right: 10%;
  width: 95%;
  opacity: 1;
  animation: appear2-mobile both;
  animation-duration: 1s;
  animation-delay: 6s;
}

.query3-mobile {
  position: absolute;
  display: block;
  width: 75%;
  opacity: 1;
  animation: appear3-mobile both;
  animation-duration: 1s;
  animation-delay: 6s;
}


@keyframes appear1 {
  0%   {visibility: hidden; transform: translate(-25%, -100%)}
  100%  {transform: translate(-20%, -100%)}
}
@keyframes appear2 {
  0%   {visibility: hidden; transform: translate(-25%, -250%)}
  100%  {transform: translate(-20%, -250%)}
}
@keyframes appear3 {
  0%   {visibility: hidden; transform: translate(-25%, -200%)}
  100%  {transform: translate(-20%, -200%)}
}

@keyframes appear1-mobile {
  0%   {visibility: hidden; transform: translate(-30%, -140%)}
  100%  {transform: translate(-25%, -140%)}
}
@keyframes appear2-mobile {
  0%   {visibility: hidden; transform: translate(-30%, -250%)}
  100%  {transform: translate(-25%, -250%)}
}
@keyframes appear3-mobile {
  0%   {visibility: hidden; transform: translate(-30%, -225%)}
  100%  {transform: translate(-25%, -225%)}
}

.centered-mobile {
 position: absolute;
 margin: auto;
 width: 25%;
 top: 12%;
 left: 38%;
 text-align: left;
}

.centered2-mobile {
 margin: auto;
 position: absolute;
 width: 25%;
 top: 12%;
 right: 38%;
 text-align: right;
}

.centered-big-mobile {
 position: absolute;
 width: 18%;
 top: 5%;
 right: 40%;
 text-align: right;
}


.centered-small-mobile {
 color: blue;
 background-color: white;
 border: none;
 margin: auto;
 padding: 1%;
 position: absolute;
 font-size: 0.8vw;
 width: 17.5%;
 top: 12%;
 right: 42%;
 text-align: left;
}

.centered-small-mobile:hover {
 color: black;
 cursor: pointer;
}


.centered-medium-mobile {
 color: blue;
 background-color: white;
 border: none;
 margin: auto;
 padding: 0%;
 position: absolute;
 width: 18.5%;
 top: 12%;
 right: 42%;
 text-align: left;
}

.centered-medium-mobile:hover {
 color: black;
 cursor: pointer;
}

.centered {
 position: absolute;
 margin: auto;
 font-size: 0.8vw;
 width: 15%;
 top: 10%;
 left: 40%;
 text-align: left;
}

.centered2 {
 margin: auto;
 position: absolute;
 font-size: 0.8vw;
 width: 18%;
 top: 10%;
 right: 40%;
 text-align: right;
}

.centered-big {
 margin: auto;
 position: absolute;
 font-size: 0.75vw;
 width: 18%;
 top: 5%;
 right: 40%;
 text-align: right;
 z-index: -1;
}


.centered-small {
 color: blue;
 background-color: white;
 border: none;
 margin: auto;
 padding: 1%;
 position: absolute;
 font-size: 0.8vw;
 width: 17.5%;
 top: 10%;
 right: 42%;
 text-align: left;
}

.centered-small:hover {
 color: black;
 cursor: pointer;
}


.centered-medium {
 color: blue;
 background-color: white;
 border: none;
 margin: auto;
 padding: 0%;
 position: absolute;
 font-size: 0.8vw;
 width: 17.5%;
 top: 10%;
 right: 42%;
 text-align: left;
}

.centered-medium:hover {
 color: black;
 cursor: pointer;
}